*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/tmp
/yarn.lock
node_modules
.vscode
secrets.json
test-network
.idea
.npmrc
.env
src/coverage
/classes
/interfaces
/serializers
/services
/utils
/logs
.yalc*
yalc*
