{
  "singleQuote": false,
  "printWidth": 110,
  "tabWidth": 2,
  "trailingComma": "none",
  "importOrder": ["^@oclif/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
