@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
  }

  html {
    @apply bg-surface-50 text-surface-950 dark:bg-surface-925 dark:text-surface-0 antialiased transition-colors;
    scroll-behavior: smooth;
    &.dark {
      @apply bg-surface-925 text-surface-0;
    }
  }

  a[href] {
    @apply font-medium decoration-surface-600 dark:decoration-surface-500;
    @apply focus-visible:focus-ring;
    /* @apply hocus:text-primary-600 hocus:decoration-transparent hocus:dark:text-primary-500 hocus:dark:decoration-transparent; */
    /* @apply text-primary-500 dark:text-primary-400 font-medium;
    @apply hocus:text-surface-950 dark:hocus:text-surface-0; */
    @apply transition-colors;
  }
}

@layer components {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
