name: Trigger GitLab Pipeline
on:
  push:
    branches:
      - chain-slack-messaging  # This ensures the workflow triggers on pushes to the main branch, including merges

jobs:
  trigger-gitlab:
    runs-on: ubuntu-latest
    steps:
      - run: curl --request POST --form token=${{secrets.GITLAB_TOKEN}} --form ref=main "https://gitlab.com/api/v4/projects/35484791/trigger/pipeline"
